<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <servlet-name>CreateProductDetailServlet</servlet-name>
    <display-name>CreateProductDetailServlet</display-name>
    <description></description>
    <servlet-class>product.servlets.CreateProductDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisplayProductDetailServlet</servlet-name>
    <display-name>DisplayProductDetailServlet</display-name>
    <description></description>
    <servlet-class>product.servlets.DisplayProductDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProductDetailServlet</servlet-name>
    <url-pattern>/CreateProductDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayProductDetailServlet</servlet-name>
    <url-pattern>/DisplayProductDetailServlet</url-pattern>
  </servlet-mapping>
  <display-name>ProductWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>